*~
*.swp
.DS_Store
.tea
npm-debug.log
lerna-debug.log
npm-debug.log*
temp_esm/
node_modules/
.idea/
.vscode/
TODO.md
tsconfig.tsbuildinfo
benchmark
package.zip
.umi
.umi-production
.cjsescache
doc-site
.lerna-changelog